header {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border-bottom: 1px #cccccc solid;
  display: flex;
  align-items: center;
}

header .logo {
  background-image: url("../images/logo.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 100%;
  margin-left: 20px;
}
